TODO:
- Mean/std of each of the 8 emotion pairs
- A nice figure that shows the mean/std of emotion pairs
- Count of word tokens in the descriptions
- Average description length (in words)
- Size of vocabulary for descriptions
- Figure that shows distribution of words based on count
- Ask Dr. K what he would like me to do in entries where the robot did nothing
- Check rows where description is one word

DONE:
- Check rows where all emotions labels are the same
- Remove rows with NaN values
- Remove rows with descriptions 'test' or 'stuff'

In [1]:
import pandas as pd
import numpy as np
import pickle
import nltk

# Helper Functions

In [16]:
def find_rows_with_same_emotion_labels(data):
    indices = []
    for index, row in data.iterrows():
        if row['Interst/Alarm'] == row['Confusion/Understanding'] == row['Frusteration/Relief'] == row['Sorrow/Joy'] == row['Anger/Gratitude'] == row['Fear/Hope'] == row['Boredom/Surprise'] == row['Disgust/Desire']:
            print(index, '\n', row)
            indices.append(index)
    return indices

In [18]:
def drop_row(index, data):
    data.drop(index, axis=0)

In [32]:
def find_singleton_descriptions(data):
    indices = []
    for index, row in data.iterrows():
        if len(nltk.word_tokenize(str(row['Description']))) == 1:
            print(index, '\n', row['Timestamp'], '\n', row['Description'])
        indices.append(index)

In [33]:
def find_NaN_values(data):
    return np.where(pd.isnull(data))

In [35]:
def find_empty_values(data):
    np.where(data.applymap(lambda x: x == ''))

In [42]:
def find_rows_with_description(data, description):
    test_rows = data[data['Description']==description].index.tolist()
    return test_rows

In [23]:
cozmo_data = pd.read_csv('responses_cozmo_cleaned.csv')

In [88]:
cozmo_data = pd.read_pickle('./clean_cozmo_data.pkl')

In [123]:
cozmo_data.to_pickle('./clean_cozmo_data.pkl')

In [125]:
cozmo_data.to_csv('./cozmo_data_csv.csv')

In [24]:
cozmo_data

,Timestamp,Description,Interst/Alarm,Confusion/Understanding,Frusteration/Relief,Sorrow/Joy,Anger/Gratitude,Fear/Hope,Boredom/Surprise,Disgust/Desire
0,1.617917e+09,It went to investigate a thing it saw,1,1,3,3,3,4,4,5
1,1.619714e+09,drove forward for a bit and then turned to his...,2,3,3,3,3,3,3,3
2,1.619714e+09,"just drove forward, made a little sound at the...",2,3,3,3,3,3,3,3
3,1.619714e+09,drove forward fairly quickly and then turned t...,1,3,3,3,4,4,3,4
4,1.619714e+09,looked down squinted eyes and then looked forw...,2,2,3,3,3,3,3,3
...,...,...,...,...,...,...,...,...,...,...
374,1.635358e+09,"The robot shows relief, joy and a strong desir...",1,3,5,5,4,3,3,5
375,1.635358e+09,The robot seems to be angry or bored and surpr...,4,3,2,2,1,3,5,1
376,1.635358e+09,I did not actually understand the kind of emot...,3,3,3,3,3,3,3,3
377,1.635359e+09,Surprised and bored at the same time. It showe...,3,3,2,3,1,2,5,2
378,1.635359e+09,I did not really get the emotion the robot sho...,3,3,3,3,3,3,3,3

In [ ]:
find_rows_with_same_emotion_labels(cozmo_data)

In [ ]:
find_NaN_values(cozmo_data)

In [ ]:
find_empty_values(cozmo_data)

In [ ]:
find_singleton_descriptions(cozmo_data)

In [ ]:
find_rows_with_description(cozmo_data)

In [19]:
misty_data = pd.read_csv('responses_misty_cleaned.csv')

In [109]:
misty_data = pd.read_pickle('./clean_misty_data.pkl')

In [119]:
misty_data.to_pickle('./clean_misty_data.pkl')

In [114]:
misty_data.to_csv('./misty_data.csv')

In [20]:
misty_data

,Timestamp,Description,Interst/Alarm,Confusion/Understanding,Frusteration/Relief,Sorrow/Joy,Anger/Gratitude,Fear/Hope,Boredom/Surprise,Disgust/Desire
0,1.617741e+09,test,1,1,1,1,1,1,1,1
1,1.617916e+09,confused and asking for clarification almost,3,2,4,3,2,4,1,1
2,1.619713e+09,"His eyes half closed, his head tilted up, his ...",2,4,3,3,4,4,3,5
3,1.619713e+09,"eyes were half open, head tilted up and down s...",3,3,2,3,3,3,1,3
4,1.619713e+09,"eyes were looking concerned to the left, then ...",3,2,3,3,3,3,4,3
...,...,...,...,...,...,...,...,...,...,...
435,1.635356e+09,This time Misty seem to be frustrated or bored...,3,1,1,2,1,3,1,1
436,1.635356e+09,Misty seems very surprised this time.,3,3,3,3,3,3,5,3
437,1.635356e+09,Misty seems angry as it seems to be looking at...,4,3,3,3,1,3,1,1
438,1.635357e+09,Misty looks interested and understanding. It s...,1,5,4,3,3,3,3,5
439,1.635357e+09,"Misty seems to showed understanding, interest ...",1,5,4,3,4,3,3,3

In [ ]:
find_rows_with_same_emotion_labels(misty_data)

In [ ]:
find_NaN_values(misty_data)

In [ ]:
find_empty_values(misty_data)

In [ ]:
find_singleton_descriptions(misty_data)

In [ ]:
find_rows_with_description(misty_data)